
.c-book-item {
  position: relative;
  margin-top: 3px;

  li {
    display: flex;
    align-items: stretch;
    list-style-type: none; /* remove bullets */
  }

  li::before {
    content: "\200B"; /* add zero-width space, fixes AT bug */
  }

  a {
    display: flex;
    width: 100%;
    padding: 0.438rem 1rem 0.5rem;
    @include regular;
    font-size: 0.875em;
    text-decoration: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    @include activity-link;
    outline: 0;

    &:focus {
      @include activity-focus;

      &::before {
        opacity: 1;
        transform: translate3d(-0.5em, 0, 0);
      }
    }

    &:hover {
      @include activity-hover;
    }

    &:active {
      @include activity-active;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0.2em;
      width:0.45em;
      height: 100%;
      background: #fff;
      opacity: 0;
      transform: translate3d(0.5em, 0, 0);
      transition: opacity 0.35s, transform 0.35s;
      content: '';
    }
  }
}

.c-book-item--selected > a {
  @include activity-selected;
}
