
.c-page{
  height: 100%;
  width: 100%;

  iframe{
    margin: 0px;
    padding: 0px;
    border: none;
    height: calc(100% - 1.5rem);
    width: 100%;
    display: block;
    position: relative;
   }
   .c-release{
     min-height: 2rem;
     text-align: center;
     color: #777;
     font-size: .6rem;
     border-top: 1px solid #ccc;
     width: 100%;
     padding: 8px;
     text-transform: uppercase;
     margin:0 auto;
   }
}
