
.c-book-item{
  color: white;
  font-size: .8em;
  cursor: pointer;
  margin-top: .125em;
  padding: 1em 1em 1em;
  background-color: rgba(255,255,255, 0.1);
  font-weight: 300;
  text-decoration: none;
  overflow:hidden;
  position: relative;


  a::before{
    position: absolute;
    top: 0px;
    left: 268px;
    height: 100%;
    width:6px;
    background: #fff;
    content: '';
    opacity: 0;
    transform: translate3d(7px,0,0);
    transition: opacity 0.35s, transform 0.35s;
  }
  &:hover{
    /* CLIx magenta white bar */
    background-image: linear-gradient(90deg, #b30062, #e5007e 13.75em, #d72a83 117.250em, #fff 17.251em, #fff 17.6490em, #d72a83 17.6491em, #cd1171);
    /* CLIx magenta */
    background-image: linear-gradient(90deg, #b30062, #e5007e 13.75em, #cd1171);
    a::before{
      opacity: 1;
      transform: translate3d(-5px,0,0);
    }
  }

  &:active{
    /* CLIx orange white bar */
    background-image: linear-gradient(90deg, #f54b32, #f37f2f 0px, #f6753f 263px, #fff 263px, #fff 263px, #f56025 269px, #f65e27);
    /* CLIx orange */
    background-image: linear-gradient(90deg, #f54b32, #f37f2f 0px, #f65e27);
  }
}

.c-book-item--selected{
  /* CLIx purple white bar */
  background-image: linear-gradient(90deg, #91006a, #a31d7e 0px, #9c1577 263px, #fff 263px, #fff 269px, #9b1675 269px, #9a1675);
}
