.c-sidebar{
    position: relative;
    width: 140px;
    // min-width: 140px;
    height: 100vh;
    transition: all 0.6s ease;
    align-items: stretch;
    background-color: #4a4a4a;
    overflow-x: hidden;
    color: #fff;
    font-weight: 300;

    a{
      opacity:0;
      // transition: opacity .2s ease;
    }

    svg{
      height: 12px;
      width: 8px;
      position: absolute;
      right:0.5rem;
      top: 0.9rem;
      transform:rotate(0deg);
      transition: all 0.6s ease;
    }

   .openButton{
     padding: 12px 16px 9px;
     background-color: #333;
     font-size: 0.75rem;
     border-bottom: 3px solid #333;
     text-transform: uppercase;
     cursor: pointer;
   }

   .openButton:hover{
      background-color: #111;
      border-bottom: 3px solid #666;
   }

   .openButton:active{
     background-color: #111;
     background-image: linear-gradient(90deg, #f54b32, #f37f2f 13.75em, #f65e27);
     border-bottom: 3px solid #fff;
   }

   .unit{
     padding: 28px 0 0px 16px;
     text-transform: uppercase;
     opacity: 0;
    //  transition: opacity .2s ease;
     font-size: 0.625rem;
   }

   .subject{
     font-size: 0.875rem;
     padding: 0 0 5px 16px;
     text-transform: uppercase;
     opacity: 0;
    //  transition: opacity .2s ease;
   }

   .clix-v{
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      color: #fff;
      font-weight: 300;
      font-size: 10px;
      letter-spacing: 1.15px;
      text-transform: uppercase;
   }
}

.c-sidebar--open{
  width: 292px;

  a{
    color: #fff;
    opacity: 1;
    transition: opacity 0.6s ease;
  }
  svg{
    transform:rotate(180deg);
  }

  .unit{
    opacity: 1;
    transition: opacity 0.6s ease;
  }

  .subject{
    opacity: 1;
    transition: opacity 0.6s ease;
  }
}
