.c-sidebar__toggle-button {
  width: 20.88em; // width: 292px;
  position: absolute;
  top: 0;
  left: -10em;
  display: flex;
  align-items: center;
  z-index: 2;
  margin: 0;
  padding-top: 0.75em;
  padding-right: 1em;
  padding-bottom: 0.563em;
  padding-left: 11.65em;
  @include bold;
  font-size: 0.875em;
  color: #fff;
  text-align: left;
  text-shadow: 0 0.125em 0.125em rgba(0,0,0, 0.3);
  text-transform: uppercase;
  line-height: 1.15;
  @include activity-button-toggle;
  cursor: pointer;

  &[aria-pressed='true'] {
    @include activity-button-toggle-pressed;
  }

  &:hover {
    @include activity-button-toggle-hover;
  }

  &:focus {
    @include activity-button-toggle-focus;
  }

  &:active {
    @include activity-button-toggle-active;
  }
}

.c-sidebar__toggle-button--open {
  left: 0;
  padding-left: 1.65em;
}

.c-sidebar__svg {
  position: absolute;
  top: 0.9em;
  right: 0.75em;
  transform:rotate(0deg);
  transition: all 0.6s ease;
}

.c-sidebar__svg--spin {
  right: 1.25em;
  transform:rotate(90deg);
}

.c-sidebar__button-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.c-sidebar {
  position: relative;
  width: 0;
  height: 100vh;
  padding-top: 2em;
  @include regular;
  color: #fff;
  background-color: #4a4a4a;
  overflow-x: hidden;
  transition: all 0.6s ease;

  a {
    opacity:0;
  }

  .unit {
    padding: 1.875em 0 0 1.95em;
    font-size: 0.725em;
    opacity: 0;
  }

  .subject {
    padding: 0 0 0.313em 1.55em;
    font-size: 0.875em;
    opacity: 0;
  }

  .clix-v {
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-weight: 300;
    font-size: 0.62543em;
    color: #fff;
    letter-spacing: 1.15px;
    text-transform: uppercase;
  }
}

.c-sidebar--open {
  width: 18.250em;
  display: flex;
  flex-direction: column;

  a {
    color: #fff;
    opacity: 1;
    transition-delay: 1.5s;
    transition: opacity 0.6s ease;
  }

  .unit {
    opacity: 1;
    transition: opacity 0.6s ease;
  }

  .subject {
    opacity: 1;
    transition: opacity 0.6s ease;
  }
}

