
.c-page{
  height: 100%;
  width: 100%;

  iframe{
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    height: calc(100% - 1.5rem);
    width: 100%;
    border: none;



  }
  .c-release{
    margin:0 auto;
    padding: 0.313rem;
    height: 1.5rem;
    width: 100%;
    font-size: 0.6rem;
    color: #777;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #ccc;
  }
}
