.c-container{
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  // width: calc(100% + 1.063rem); // hide vertical iframe scrollbars offscreen
  width: 100%; // show vertical iframe scrollbars for accessibility
  font-weight: 300;
}

.c-content{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
